<p>Hello,</p>
<p>New User is Signup with this email: <%= @user&.email %></p>
<p>
	Now you can check and Approve/Decline this account.
</p>
<p style="font-size: 13px;">
  Go to Admin Panel from <a href="https://sparkapt.com/users">here</a>
</p>

<p style="font-size: 13px; margin: 0px;">
  Have a great day!
</p>
<p>SparkAPT Team</p>
<p>--------</p>
