<p>Hello,</p>
<p>This is <%= @inquiry&.email %></p>
<p>
	I have a query regarding <%= @inquiry&.inquiry_reason %>
</p>
<p>My concern is that <%= @inquiry&.message %></p>
<p>
	I hope you take a look into this.
</p>
<p>Thanks</p>
<p>--------</p>
