<p>Hello,</p>
<p>Find a link below to get your Property Details </p>
<p>
	Please Click here <a href="<%=@domain%>/report?report_code=<%=@code%>">"<%=@domain%>/report?report_code=<%=@code%>"</a>
</p>

<p>Thanks</p>
<p>HiveAPT Team</p>
<p>--------</p>
