<b>
  Hi <%= @user&.first_name %>,
</b>
<p style="font-size: 13px;">
  We can’t wait for you to start using SmartAPT and seeing results in your business.
</p>
<p style="font-size: 13px;">
  Simply go <a href="http://smartapt.complitech.us/login">here</a> to get started,
</p>
<p style="font-size: 13px;">
  As always, our support team can be reached at support@geniusaptsearch.com if you ever get stuck.
  Have a great day!
</p>
<p style="font-size: 13px; margin: 0px;">
  Have a great day!
</p>
<p>SmartApt Team</p>
<p>--------</p>
