<b>
  Hi <%= @user&.first_name %>,
</b>
<p style="font-size: 13px;">
  We can’t wait for you to start using HiveAPT and seeing results in your business.
</p>
<p style="font-size: 13px;">
  Your account is approved by Admin.
  Simply go <a href="https://hiveapt.com/login">here</a> to get started,
</p>
<p style="font-size: 13px;">
  As always, our support team can be reached at support@geniusaptsearch.com if you ever get stuck.
</p>
<p style="font-size: 13px; margin: 0px;">
  Have a great day!
</p>
<p>HiveAPT Team</p>
<p>--------</p>
