<b>
  Hello <%= @user&.first_name %>
</b>
<p style="font-size: 13px;">
  Thank you for registering at SmartAPT!
</p>
<p style="font-size: 13px;">
  Our goal is to Help you find apartments for your clients instantly.
</p>
<p style="font-size: 13px;">
  Thank you for becoming a member, and please let us know if you have any feedback that can help us improve this site by contact us.
</p>
<p style="font-size: 13px; margin: 0px;">
  Best Regards,
</p>
<p style="font-size: 13px; margin: 0px;">
  Support Team SmartAPT
</p>
